html {
    box-sizing: border-box;
  }
  
  .visually-hidden {
    display: none;
  }
  
  body {
      background-color: red;
    min-width: 320px;
    margin: 0 auto;
    padding-bottom: 70px;
    background-color: white;
    background-color: rgba(229,229,229, .3) ;

    font-family: $font-ubuntu;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  h1 {
    @include reset;    
}

.container {
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1200px;
}

.version {
  color: gray;
  font-size: 12px;
}